.header.content
    .logo NAGA
    .nav_menu
        .nav_item About
        .nav_item Investing
        .nav_item Social Trading
        .nav_item Blog
        .nav_item More
    .header_info_user
        .language English
        button.btn_blue Login




